# Ignore the appdata folder
appdata/

# Ignore virtual environment folders
venv/

# Byte-compiled Python files
*.pyc
__pycache__/

# Ignore SQLite database files
# *.db

# Ignore JSON files in appdata (if needed)
# appdata/*.json
